<!DOCTYPE html>
<html>
<head>
    <title>Best Buy Components</title>
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
</head>

<body>
    <div class="outer">
        <div class="page">
<!-- Sidebar Component -->
       <div class="side_bar">
            <img src="img/tradein2.png" alt="trade in"/>
            <span class="section">Best Buy Trade-In</span></br>
            Before you recycle, see what your tech is worth.
            Trade it in, get a gift card and help keep tech out of the trash.
        
          </div>

<!-- Hero Component -->
  <div class="hero_content">
     <img src="img/hero.png" alt="sustainability"/>
     <p class="hero_text_headline">
     Let's Lighten The Landfills
     </p>
     <p>
         We recycle all kinds of tech, no matter how old, how big or where you bought it.
     </p>
  </div>

<!-- Image Block -->
<div class="image_block">
    <div class="row">
        <div class="column">
            <img src="img/appliances.jpg" alt="appliances" style="width:100%">
        </div>
        <div class="column">
            <img src="img/cellphones.jpg" alt="cellphones" style="width:100%">
        </div>
        <div class="column">
            <img src="img/computers.jpg" alt="computers" style="width:100%">
        </div>
        <div class="column">
            <img src="img/speakers.jpg" alt="speakers" style="width:100%">
        </div>
        <div class="column">
            <img src="img/tv.jpg" alt="tv" style="width:100%">
        </div>
      </div>
    </div>
</div>


          </div>
        </div>
      </div>
    </div>
     </div>
  </body>
</html>
