<!DOCTYPE html>
<html>
<head>
    <title>Best Buy Components</title>
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
</head>

<body>
    <div class="outer">
        <div class="page">

<!-- Hero Component -->
    <div class="hero">
        <div class="content"><img src="img/hero.png" alt="sustainability"></div>
        <div class="content">
                  <p class="h1">Let's Lighten The Landfills</p>
                  <p>We recycle all kinds of tech, no matter how old, how big or where you bought it.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
     </div>
  </body>
</html>
