* {
  box-sizing: border-box;
  margin: 0;
}

/* ==== GRID SYSTEM ==== */

.outer {
  text-align: center;
}

.page {
  display: inline-block;
  max-width: 1200px;
  width: 100%;
}

.container {
  width: 96%;
  margin: auto;
  color: white;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
  min-height: 0.125rem;
  height: 100%;
  padding-top: 20px;
}

.col-5 {
  width: 41.67%;
}

.col-7 {
  width: 58.33%;
}

.col-12 {
  width: 100%;
}

/* This is clearfix, clearing content after each row*/
.row::after {
  content: "";
  display: table;
  clear: both;
}

div [class^="col"] {
  height: 100px;
  padding-right: 20px;
}

div [class^="col"]:last-of-type {
  padding-right: 0px;
}
